.container {
  height: 100px;
  background: #23744e;
  padding: 0 60px 0 50px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#button1 {
  background: white;
  border: none;
  padding: 0 10px 0 10px;
  font-weight: bold;
  font-size: 25px;
  color: black;
  position: relative;
  top: 40px;
  left: -15px;
  transform: translate(-55%, -10%);
  font-family: "Akaya Telivigala";
}

#button2 {
  background: white;
  border: none;
  padding: 0 10px 0 10px;
  font-weight: bold;
  font-size: 25px;
  color: black;
  position: relative;
  top: 40px;
  left: -10px;
  transform: translate(-55%, -10%);
  font-family: "Akaya Telivigala";
}
#label {
  font-weight: bold;
  font-size: 20px;
  color: black;
  position: relative;
  top: -5px;
  left: 48px;
  /* transform: translate(-40%, -10%); */
  font-family: "Arial";
}

body {
  background: white;
}
